 Menu
 <nav class=’’navbar navbar-inverse’’>
 <div class=”container-fluid”>
     <div class="navbar-header">
                         <a class="navbar-brand" href="/">TODOapp</a>
                     </div>
                                     <ul class="nav navbar-nav">
                                                         <li><a href="/new-task">New TODO</li>
                                                                             <li><a href="/new-category">New category</li>     
                                                                                                 </ul>
                                                                                             </div>
                                                                                             </nav>

                                                                                             <div class=”container-fluid”>
                                                                                                 Messages
                                                                                             </div>

                                                                                             <div class=”container-fluid”>
                                                                                                Footer
                                                                                                     </div>
